*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", arial, sans-serif;
  background-color: white;
  color: black;
  font-size: 13pt;
}

.site-header {
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.jumbotron {
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jumbotron-title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 200;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.jumbotron-slogan {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}

@keyframes scroll-prompt-animation {
  0% {
    top: 85%;
  }
  50% {
    top: 90%;
  }
  100% {
    top: 85%;
  }
}

.scroll-prompt {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-size: 3rem;
  animation-name: scroll-prompt-animation;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

.banner {
  background-color: #EFEFEF;
  padding: 2rem;
}

.banner-description {
  display: inline-block;
  width: 25vw;
}

.banner-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.banner-content {
  display: inline-block;
  width: auto;
  padding-left: 3rem;
}

.flavor-list li {
  position: relative;
  display: block;
  float: left;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-right-style: solid;
  border-right-width: 2px;
  padding: 0 1rem;
  z-index: 1;
}

.flavor-list li:last-child {
  border-right-style: none;
}

.flavor-list li p {
  width: 100%;
  text-align: center;
  font-weight: 300;
}

.flavor-circle {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  margin-bottom: 1rem;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 2px;
}

.tooltip {
  position: absolute;
  top: -60%;
  right: 200vw;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
  font-size: 14px;
  width: 15em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  -webkit-backdrop-filter: blur(10px);
  z-index: 9999;
}

.tooltip.active {
  right: 50%;
}

.feature-list {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.feature {
  width: 15rem;
  padding: 1rem;
}

.feature-circle {
  background-color: white;
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  text-align: center;
  line-height: 11rem;
  font-size: 6rem;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0 1rem 1rem 1rem;
}

.feature-title {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 300;
}

.feature-description {
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  margin-top: 0.5em;
}
